.relative {
    position: relative;
}

.no-video {
    color: var(--btn-hover-color);
}

.video-count {
    position: absolute;
    width: 6rem;
    height: 12rem;
    top: 0px;
    right: 0px;
    background-color: rgba(52, 58, 64, 0.8);
    text-align: center;
    color: #a0b2b9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.count {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--font-color);
    font-style: italic;
}