.nav-cont {
    display: flex;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    display: flex;
    color: var(--font-color);
    justify-content: space-around;
    gap: 10px;

}

.nav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--font-color);
}

.bars-hide {
    display: none;
}

@media screen and (max-width: 500px) {
    .bars-hide {
        display: block;
    }

    .nav-cont {
        width: 90%;
    }
}